html {
    height: 100%;
  }
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.titre{
  text-align: center;
  color: #03e9f4;
}


.parent{
  display: flex;
  justify-content: space-between;
}

.enfant{
  margin-left: 23%;
  margin-right: 20%;
  text-decoration: none;
  color: #03e9f4;
  font-size: 2em;
}

.list{
  text-align: center;
  margin-top: 5%;
  text-decoration: none;
  color: #03e9f4;
  font-size: 2em;
}