<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>
    <header>
        {% if user.is_authenticated %}

            {% block nav_connect %}
                <ul id="nav_connect">
                    <li>{% block nav-home_connect %}<a href="{% url 'Welcomepage' %}">Home</a>{% endblock %}</li>
                    <li>{% block nav-Quizz_connect %}<a href="{% url 'Quizzlistpage' %}">Quizz list</a>{% endblock %}</li>
                    <li>{% block nav-Cat_connect %}<a href="{% url 'Categorielistpage' %}">Categorie list</a>{% endblock %}</li>
                    <li>{% block nav-deco %}<form method="POST" action="{% url 'logoutpage'%}">
                            {% csrf_token %}
                        <input type="submit" value="Logout" />
                        </form>{% endblock %}</li>
                </ul>    
            {% endblock %}
            {% else %}
                {% block nav %}
                    <ul id="nav">
                        <li>{% block nav-Home %}<a href="{% url 'Welcomepage' %}">Home</a>{% endblock %}</li>
                        <li>{% block nav-Quizz %}<a href="{% url 'Quizzlistpage' %}">Quizz list</a>{% endblock %}</li>
                        <li>{% block nav-Cat %}<a href="{% url 'Categorielistpage' %}">Categorie list</a>{% endblock %}</li>
                        <li>{% block nav-loginuser %}<a href="{% url 'loginuser'%}">Login</a>{% endblock %}</li>
                        <li>{% block nav-signup %}<a href="{% url 'signNewUser'%}">SignUp</a>{% endblock %}</li>
                    </ul>    
                {% endblock %}
        {% endif%}
    </header>