<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_quizzlist.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Quizz</title>
</head>
<body>
    {% include "nav.html" %}
    <main>
        <h1 class="titre">Liste des Quizz</h1>
        <br><br><br><br>
        {% if user.is_authenticated %}
        <div class="parent">
        <a class="enfant" href="{% url 'Quizzcreationpage'%}">Creer un quizz</a>
        <br>
        <a class="enfant" href="{% url 'QuestionAjoutpage'%}">Ajouter question a un quizz</a>
        {% endif%}
        </div>
        <br>
        <div class="list">
        {% for quizz in quizzlist%}
            <li ><a class="list" href="{% url 'QuizzDetails' quizz_id=quizz.id%}">{{ quizz }}</a></li>
        {% endfor %}
        </div>
    </main>   
    {% include "footers.html" %} 
</body>
</html>