<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Quizz</title>
</head>
<body>
    <h1>Liste des Quizz</h1>
    <form method="POST" action="{% url 'Quizzcreationpage'%}">
        {% csrf_token %}
    <input type="submit" value="Creer un quizz" />
    </form>
    <form method="POST" action="{% url 'QuestionAjoutpage'%}">
        {% csrf_token %}
    <input type="submit" value="Ajouter une question à un quizz" />
    </form>
    <br>
    {% for quizz in quizzlist%}
        {{ quizz }}
    {% endfor %}
</body>
</html>