<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
    <body>
        {% include "nav.html" %}

   
        <main>
            {% if user.is_authenticated %}
                <h1>Bienvenue {{ user.username }}</h1>
                <h2>Vous êtes connecté ..!</h2>

                {% else %}
                    <h2>Vous n'êtes pas connecté ..!</h2>
            {% endif%}
        </main>
        {% include "footers.html" %}    
    </body>
